body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #ffe4e1, #fff0f5);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

section {
  position: relative;
  margin: auto;
}

.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
  overflow: hidden;
  margin: auto;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
  width: calc(100% * 5);
}

.carousel-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#play-button {
  padding: 1rem;
  font-size: 1.8rem;
  color: white;
  border-radius: 1rem;
  border: none;
  background-color: #b22222;
}

#play-button:hover {
  transform: scale(1.05);
}

button.prev {
  left: 1rem;
}

button.next {
  right: 1rem;
}

.counter-section {
  height: auto;
  text-align: center;
  padding: 1rem;
  background: #fffafa;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin-bottom: 1rem;
}

.counter {
  font-size: 2rem;
  font-weight: bold;
  color: #b22222;
}

.highlight-text {
  font-size: 1.5rem;
  color: #8b0000;
  font-style: italic;
}

@media (min-width: 415px) {
  .carousel {
    max-width: 17rem;
  }
}